# Python / Virtual Environment
.venv/
venv/
ENV/
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Environment variables & secrets
.env

# SQLite Database & Data
!data/news.db
!data/.gitkeep


# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
